@media(max-width:320px){
    .main{
        padding: 0px;

    
    &_contacto{
        padding: 0px;
        margin: 0px;
    }

    .main_form{
        padding: 10px;
        margin: 10px;
    }
    }
}